<ag-grid-angular
      style="width: 700; height: 1700;"
      id="myGrid"
      class="ag-theme-alpine"
      [modules]="modules"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [rowSelection]="rowSelection"
      [cacheBlockSize]="cacheBlockSize"
      [rowDeselection]="true"
      [rowModelType]="rowModelType"
      [paginationPageSize]="paginationPageSize"
      [cacheOverflowSize]="cacheOverflowSize"
      [maxBlocksInCache]="maxBlocksInCache"
      (gridReady)="onGridReady($event)"
      ></ag-grid-angular>
      <!-- [rowData]="rowData | async" -->